a{
    text-decoration: none;
}
.logo{
    float: left;
}
.banner{
    float: right;
}
.content{

    float: left;
    width: 600px;
    margin: 0px auto auto 30px;
    text-align: left;
}
body{
    font-family: Arial;
    background-image: url("../img/1.jpg");
    line-height: 1.4em;
    color: aqua;

}

.layout{
    float: right;
    text-align: left;
    height: 400px;
    width: 200px;
    padding: 0px 10px 5px 5px;
    color: black;
    line-height: 2em;
    border: 1px groove white;
    margin-top: 50px;
}
#main{
    width: 950px;
    margin: 20px auto 20px auto;
    background-color: white;
}
header{
    height: 160px;
}
h1{
    text-indent: -99999px;
}
nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav li{
    display: inline;
    margin-right: 40px;
}
nav li a{
    color: saddlebrown;
}
nav li a:hover,nav li a.current{
    color: coral;
}
h3{
    color: aqua;
}

